.popup {
    width: 400px;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.popup-item {
    width: 100%;
    height: 50px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;

    &:last-child {
        padding-bottom: 0;
    }

    &__image {
        width: 30%;
        height: 100%;
        object-fit: contain;
    }

    &__title {
        width: 30%;
        margin-left: 10px;
    }

    &__price {
        width: 30%;
        margin-left: 10px;
    }
}

.popup-button {
    margin-top: 20px;
    width: 130px;
}