.navbar {
	width: 100%;
	padding: 20px 30px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #80808078;

	&__content {
		width: 300px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__icons {
		margin-left: auto;
		width: 150px;
		padding: 0 50px;
		display: flex;
		justify-content: space-between;
	}

	.active-link {
		color: grey;
	}
}
